span {
    vertical-align: middle;
}
h1 {
    font-size: 20px;
}
hr{
    display: inline-block;
    vertical-align: middle;
    width: 25%;
}

input {
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    vertical-align: middle;
    border-radius: 5px;
    border-width: 1px;
    border-color:lightgray;
    border-style: solid;
}

label {
    vertical-align: middle;
}

button{
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #413fb5;
    vertical-align: middle;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 100%;
}

a:link {
    color: unset;
    text-decoration-color: #413fb5;
    text-underline-offset: 3px;
    text-decoration-thickness: 3px;
}
.inputSmall{
    width: 140px;
}

.inputBig{
    width: 100%;
}

.hrWithText{
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.mainBanner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 226px;
    padding-right: 226px;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 0px;
}

.contentHolder {
    vertical-align: middle;
    display: inline-block;
    width: 350px;
    margin:0px;
    padding:0px;
}

.registrationSheet, .hrWithText, .registrationForm {
    padding-inline: 20px;
}

.regButton{
    background-color: white;
    text-align: start;
}

.formRegisterButton{
    background-color: #413fb5;
    color: white;
    height: 40px;
}

.mediaRegText{
    display: inline-block;
}

.leftSideContainer{
    display: inline-block;
    width: 50%;
    text-align: start;
}

.rightSideContainer{
    display: inline-block;
    width: 50%;
    text-align: end;
}

#mainContent {
    font-family: system-ui;
    margin:auto;
    display:block;
    width: 700px;
    height: 600px;
    box-shadow: 0px 0px 7px rgba(100, 96, 106, 0.2);
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    padding: 0px;
}

#imageMainContent{
    height: 600px;
    width: 350px;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin:0px;
    padding: 0px;
}